<h1><%=@user.id%>: <%= @user.username %></h1>
<h2> IS THIS SHOWING? </h2>
<form action="<%=session_url%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="log out">

</form>
